aiotarantool==1.1.3
appdirs==1.4.3
graphene==1.4
graphql-core==1.1
graphql-relay==0.4.5
msgpack-python==0.4.8
packaging==16.8
promise==2.0.2
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
PyYAML==3.12
six==1.10.0
tarantool==0.5.4
typing==3.6.1
